<div class="live-banner">
         <h2>We are Live!</h2>
         <p>Don’t miss a moment of the event! We’re streaming it live so you can tune in from anywhere. Choose one streaming service below to join the live stream and be part of the excitement in real time. <br>Stay connected and experience the event as it unfolds!</p>

         <div class="links-container">
            <a class="twitch" href="https://www.twitch.tv/inercia_pt" aria-label="Twitch" target="_blank" rel="nofollow">
               <svg width="100" viewBox="0 0 256 268" fill="white">
               </svg>
            </a>
            <a class="yt" href="https://www.youtube.com/watch?v=live_link_here" aria-label="YouTube" target="_blank" rel="nofollow">
               <svg width="100" viewBox="0 0 461 461" fill="white">
               </svg>
            </a>
            <a class="scenesat" href="https://scenesat.com/live_link_here">
               <svg width="100" viewBox="0 0 52.916665 39.6875" fill="white">

                </svg>
            </a>
</div>