<div class="dropdown">
  {{ with .Get "text" }}
 <a>{{ . }}</a>
  {{ end }}
 <div id="dd" class="dropdown-content">
    <a href="https://2024.inercia.pt/en/postparty.html">2024</a><br>
    <a href="https://2023.inercia.pt/index.php?page=PostParty">2023</a><br>
    <a href="https://2022.inercia.pt/">2022</a><br>
    <a href="https://2021.inercia.pt/">2021</a><br>
    <a href="https://2020.inercia.pt/">2020</a><br>
    <a href="https://2019.inercia.pt/">2019</a><br>
    <a href="https://2018.inercia.pt/">2018</a><br>
    <a href="https://2012.inercia.pt/">2012</a><br>
    <a href="https://2010.inercia.pt/">2010</a><br>
    <a href="https://2008.inercia.pt/">2008</a><br>
    <a href="https://2005.inercia.pt/">2005</a><br>
 </div>
</div>
