{{/*
Shortcode: threeimages
Usage:
{{< threeimages
    img1="/images/this_is_internet.webp" alt1="Screenshot of This Is Internet, a demo by teadrinker" caption1="'This Is Internet' by teadrinker (2023)"
    img2="/images/tokidoki.webp" alt2="Screenshot of Tokidoki, a demo by Gaia Space Agency" caption2="'Tokidoki' by Gaia Space Agency (2022)"
    img3="/images/bossa_de_cores.webp" alt3="Screenshot of Bossa de Cores, a demo by 5711 & Accession & Farbrausch" caption3="'Bossa de Cores' by 5711 & Accession & Farbrausch (2020)"
>}}
*/}}
<div class="b-features__container">
  <ul class="b-features__items">
    <li class="b-features_item">
      <div class="o-feature">
        <div class="o-feature__image">
          <figure class="m-figure" style="--image-ratio: 3/2">
            <div class="m-figure__image">
              <img alt="{{ .Get "alt1" }}" loading="lazy" decoding="async" src="{{ .Get "img1" }}" width="1920" height="1080">
              <p class="m-figure__attribution">{{ .Get "caption1" }}</p>
            </div>
          </figure>
        </div>
      </div>
    </li>
    <li class="b-features_item">
      <div class="o-feature">
        <div class="o-feature__image">
          <figure class="m-figure" style="--image-ratio: 3/2">
            <div class="m-figure__image">
              <img alt="{{ .Get "alt2" }}" loading="lazy" decoding="async" src="{{ .Get "img2" }}" width="1920" height="1080">
              <p class="m-figure__attribution">{{ .Get "caption2" }}</p>
            </div>
          </figure>
        </div>
      </div>
    </li>
    <li class="b-features_item">
      <div class="o-feature">
        <div class="o-feature__image">
          <figure class="m-figure" style="--image-ratio: 3/2">
            <div class="m-figure__image">
              <img alt="{{ .Get "alt3" }}" loading="lazy" decoding="async" src="{{ .Get "img3" }}" width="1920" height="1080">
              <p class="m-figure__attribution">{{ .Get "caption3" }}</p>
            </div>
          </figure>
        </div>
      </div>
    </li>
  </ul>
</div>
